.container {
    max-width: auto;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-areas:
    "header"
    "logo"
    "search";
}
.header {
    max-width: auto;
    grid-area: header;
    display: grid;
    grid-template-columns: .75fr 1fr 80% 1fr .75fr 0.5fr;
    align-items: center;
    font-size: 15px;
    padding: 4px 15px;
}

header .about {
    grid-column: 1 / 2;
    justify-self: start;
}
header .store {
    grid-column: 2 / 3;
    justify-self: start;
}
header .gmail {
    grid-column: 4 / 5;
    justify-self: end;
}
header .images {
    grid-column: 5 / 6;
    justify-self: end;
}
header .account {
    grid-column: 6 / 7;
    justify-self: end;
}
header .account a img {
    border-radius: 50%;
    max-width: 32px;
    height: 32px;
}

.logo{
    grid-area: logo;
    justify-self: center;
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-top: 100px;
    padding-top: 21px;
}
.form-group {
    grid-area: search;
}

#searchText {
    width: 500px;
    height: 34px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    background-image: url(../images/magnifying-glass.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px 30px;
    font: 16px arial,sans-serif;
    padding-left: 38px;
    margin-left: 70px;
}
#searchText:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
.mic{
    position: relative;
    top: 32px;
    right: 70px;
    transform: scale(.4);
}
.search-btn-group {
    margin-top: 40px;
}
.search-buttons{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    font-size: 15px;
}
.search-buttons:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
.footer{
    max-width:100%;
    line-height: 40px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    background-color:  #e4e4e4;
}
.footer-left{
    padding-left: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.footer-right{
    padding-right: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
a:link{
    text-decoration:none;
    color: rgba(0, 0, 0, 0.87);
}
a:hover{
    text-decoration: underline;
}
a:visited{
    text-decoration:none;
    color: rgba(0, 0, 0, 0.87);
}
